table{
    border: purple thick solid;
    border-collapse: collapse;
    margin-top: 10px;
}

tbody {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding:3px;
}

h1{
    color: blue;
}
tfoot{
    color: green;
}
tbody tr:nth-child(odd){
    background-color: plum;
}

tr td:last-child,
tbody tr td:nth-last-child(2) {
    text-align: right;

}

tr th:nth-child(2){
    width:200px;

}

img {
    width:200px;
    height:200px;
    vertical-align: middle;

}

thead td{
    text-align: left;
    border: 1px dotted black;
}
tr td{
    text-align: left;
}

th {
    background-color: violet;
}

thead td div {
    color: purple;
}